.searchContent {
    display: flex;
    align-items: center;
    background: var(--login-input);
    border-radius: 10px;
    border: 1px solid var(--text-color);
    padding: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .searchContent input {
    border: none;
    outline: none;
    padding: 0.3rem;
    font-size: 1rem;
    color: var(--text-color);
    background: none;
  }
  
  @media only screen and (max-width: 512px) {
    .searchContent{
      display: none;
    }
  }