.registerAspect {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--login-bg);
}

.registerAspect .loginContainer {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--login-bg-container);
  text-align: center;
}

.registerAspect .loginContainer h2 {
  margin-bottom: 1.5rem;
  color: var(--login-heading);
  font-size: 1.75rem;
}

/* Email Input */
.registerAspect .nameInput {
  width: 100%;
  padding: 10px 20px;
  color: var(--email-input-text);
  background: var(--login-bg-container);
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-bottom: 20px;
}

.registerAspect .nameInput:focus {
  border: 1px solid var(--email-input-focus-border);
}
.registerAspect .emailInput {
  width: 100%;
  padding: 10px 20px;
  color: var(--email-input-text);
  background: var(--login-bg-container);
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.registerAspect .emailInput:focus {
  border: 1px solid var(--email-input-focus-border);
}

/* Button Loader Styling */
.registerAspect .submit {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--login-btn-bg);
  color: var(--login-btn-text);
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.registerAspect .submit:hover {
  background-color: var(--login-btn-hover-bg);
}

.passwordStrength {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.passwordStrength ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.passwordStrength li {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.passwordStrength li:last-child {
  margin-bottom: 0;
}

.passwordStrength li svg {
  margin-right: 0.5rem;
}

.passwordStrength li .FaTimes {
  color: red;
}

.passwordStrength li .FaCheck {
  color: green;
}

/* Forgot Password Link */
.registerAspect .forgotPassword {
  display: inline-block;
  margin-top: 0.75rem;
  color: var(--login-link);
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.registerAspect .forgotPassword:hover {
  color: var(--login-link-hover);
}

/* Don't Have Account */
.registerAspect .UserDontHaveAccount {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.registerAspect .UserDontHaveAccount p {
  display: inline;
  color: var(--login-heading);
}

.registerAspect .UserDontHaveAccount a {
  color: var(--login-link);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.registerAspect .UserDontHaveAccount a:hover {
  color: var(--login-link-hover);
}

@media only screen and (max-width: 350px) {
  .passwordStrength {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .passwordStrength ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .passwordStrength li {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
}