.profile-left .nameOfUserProfle {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
}
.user-image-profile {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid var(--login-heading);
}
/* UserProfile.css */

.userProfile-container {
  max-width: 1100px;
  max-height: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 20px;
  background-color: var(--login-bg-card);
}

.profile-header {
  text-align: center;
  color: var(--section-3-bg);
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.profile-card {
  display: flex;
  gap: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.profile-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 200px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.profile-name {
  font-weight: bold;
  font-size: 1.3rem;
  color: #333;
  margin: 5px 0;
}

.profile-role {
  color: #666;
  font-size: 1rem;
}

.profile-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
}

.form-group textarea {
  width: 100%;
  padding: 10px 20px;
  color: var(--login-input-text);
  background: var(--login-input-bg);
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
  -o-transition: all ease 400ms;
  resize: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form-group textarea:focus {
  border: 1px solid var(--section-3-bg);
}
.form-group input {
  width: 100%;
  padding: 10px 20px;
  color: var(--login-input-text);
  background: var(--login-input-bg);
  border-radius: 50px;
  margin-bottom: 15px;
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
  -o-transition: all ease 400ms;
}

.form-group input:focus {
  border: 1px solid var(--section-3-bg);
}

.save-button {
  align-self: center;
  background-color: #0066ee;
  color: #fff;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  width: 100%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.save-button:hover {
  background-color: #0066ee;
}

@media (max-width: 768px) {
  .profile-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .profile-left {
    margin-bottom: 15px;
  }

  .save-button {
    margin-bottom: 5rem;
  }
}
@media (max-width: 420px) {
  .profile-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .profile-left {
    margin-bottom: 15px;
  }
  .save-button {
    margin-bottom: 5rem;
  }
}
