.rPassAspect {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--login-bg);
}

.rPassAspect .loginContainer {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--login-bg-container);
  text-align: center;
}

.rPassAspect .loginContainer h2 {
  margin-bottom: 1.5rem;
  color: var(--login-heading);
  font-size: 1.75rem;
}

/* Email Input */
.rPassAspect .emailInput {
  width: 100%;
  padding: 10px 20px;
  color: var(--email-input-text);
  background: var(--login-bg-container);
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.rPassAspect .emailInput:focus {
  border: 1px solid var(--email-input-focus-border);
}

/* Button Loader Styling */
.rPassAspect .submit {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--login-btn-bg);
  color: var(--login-btn-text);
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.rPassAspect .submit:hover {
  background-color: var(--login-btn-hover-bg);
}

/* Forgot Password Link */
.rPassAspect .forgotPassword {
  display: inline-block;
  margin-top: 0.75rem;
  color: var(--login-link);
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.rPassAspect .forgotPassword:hover {
  color: var(--login-link-hover);
}

/* Don't Have Account */
.rPassAspect .UserDontHaveAccount {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.rPassAspect .UserDontHaveAccount p {
  display: inline;
  color: var(--login-heading);
}

.rPassAspect .UserDontHaveAccount a {
  color: var(--login-link);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.rPassAspect .UserDontHaveAccount a:hover {
  color: var(--login-link-hover);
}