.rPassAspect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  background: var(--login-bg);
  height: 90vh;
}
.rPassAspect .loginSvg img {
  height: 500px;
  width: 500px;
}
.rPassAspect .loginContainer form {
  display: flex;
  flex-direction: column;
}

.rPassAspect .loginContainer {
  flex: 1;
  max-width: 400px;
  padding: 80px 30px 40px 30px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: var(--login-bg-card);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.rPassAspect .loginContainer h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--login-bg-h2-color);
}

.rPassAspect .loginContainer .passwordStrength {
  background-color: var(--login-Container-bg);
  box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
    var(--login-Container-shadow) 0px 2px 6px 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
}
.rPassAspect .loginContainer .submit {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: var(--login-btn-text);
  background: var(--login-btn-bg);
  padding: 10px 1.5rem 10px 1.5rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  margin-top: 1rem;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.rPassAspect .loginContainer .submit:hover {
  background: var(--login-btn-br-hover);
  color: var(--login-btn-text-hover);
}

.rPassAspect .loginContainer .UserDontHaveAccount {
  display: flex;
  justify-content: start;
  text-align: center;
  margin-top: 20px;
}
.rPassAspect .loginContainer .UserDontHaveAccount p {
  color: var(--UserDontHaveAccount-p);
}
.rPassAspect .loginContainer .UserDontHaveAccount a:hover {
  color: var(--UserDontHaveAccount-hover);
}
.rPassAspect .loginContainer .UserDontHaveAccount a {
  color: var(--UserDontHaveAccount);
  font-weight: 600;
  padding-left: 10px;
}

@media only screen and (max-width: 480px) {
  .rPassAspect {
    gap: 1rem;
  }
  .rPassAspect .loginSvg img {
    height: 200px;
    width: 200px;
  }
  .rPassAspect .loginContainer {
    max-width: 100%;
    padding: 15px;
  }
  .rPassAspect .loginContainer .submit {
    padding: 10px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  .rPassAspect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}
@media only screen and (max-width: 1093px) {
  .rPassAspect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .rPassAspect .loginSvg img {
    height: 400px;
    width: 400px;
  }
}
@media only screen and (max-width: 923px) {
  .rPassAspect {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
  }
  .rPassAspect .loginSvg img {
    display: none;
  }
  .rPassAspect .loginContainer {
    flex: 1;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: var(--login-bg-card);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}



@media only screen and (max-width: 596px) {
  .rPassAspect {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rPassAspect .loginContainer {
    flex: 1;
    margin-left: -5rem;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: var(--login-bg-card);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 361px) {
  .rPassAspect {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}
@media (max-width: 356px) {
  .rPassAspect .loginContainer h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 443px) {
  .rPassAspect {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .rPassAspect .loginContainer {
    flex: 1;
    max-width: 400px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .rPassAspect .loginContainer .UserDontHaveAccount p {
    color: var(--UserDontHaveAccount);
    font-size: 15px;
  }
  .rPassAspect .loginContainer .UserDontHaveAccount a {
    color: var(--UserDontHaveAccount);
    font-weight: 500;
    padding-left: 5px;
  }
}
@media only screen and (max-width: 341px) {
  .rPassAspect {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .rPassAspect .loginContainer {
    flex: 1;
    max-width: 400px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: var(--login-bg-card);
  }
  .rPassAspect .loginContainer .UserDontHaveAccount p {
    font-size: 13px;
  }
  .rPassAspect .loginContainer .UserDontHaveAccount a {
    font-weight: 500;
    padding-left: 10px;
    font-size: 14px;
    color: var(--UserDontHaveAccount);
  }
  .rPassAspect .loginContainer .UserDontHaveAccount a:hover {
    color: var(--UserDontHaveAccount-hover);
  }
}