/* Container for the password input field and icon */
.password {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 400px;
  margin: 10px 0;
}

/* Style for the input field */
.passwordInputs {
  width: 100%;
  padding: 10px 40px 10px 10px;
  color: var(--text-color);
  background: var(--login-input);
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
    var(--login-Container-shadow) 0px 2px 6px 2px;
}
.passwordInputs:focus {
  border: 1px solid var(--text-color);
}

/* Style for the icon container */
.password .icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 10px;
}

