/* Container for the password input field and icon */
.password {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 400px;
  margin: 10px 0;
}

/* Style for the input field */
.passwordInputs {
  width: 100%;
  padding: 10px 20px;
  color: var(--login-input-text);
  background: var(--login-input-bg);
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.passwordInputs:focus {
  border: 1px solid var(--login-input-bg-border);
}

/* Style for the icon container */
.password .icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: -7px;
  color: var(--login-btn-br-hover);
}

