.searchContainer {
  display: flex;
  align-items: center;
  background: var(--login-input);
  box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
    var(--login-Container-shadow) 0px 2px 6px 2px;
  padding: 5px 10px;
}
.searchContainer:focus {
  border: 1px solid var(--text-color);
}

.searchContainer input {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: var(--text-color);
  background: none;
}
