.searchContainer {
  display: flex;
  align-items: center;
  width: auto;
  padding: 10px 20px;
  color: var(--login-input-text);
  background: var(--login-input-bg);
  border-radius: 50px;
  margin-bottom: 15px;
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
  -o-transition: all ease 400ms;
}
.searchContainer:focus {
  border: 1px solid var(--login-input-bg-border);
}

.searchContainer input {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: var(--login-input-text);
  background: none;
}
@media (max-width: 381px) {
  .searchContainer {
    display: flex;
    align-items: center;
    width: auto;
    padding: 5px 10px;
    color: var(--login-input-text);
    background: var(--login-input-bg);
    border-radius: 25px;
    margin-bottom: 15px;
    border-radius: 50px;
    font-size: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: all ease 400ms;
    -webkit-transition: all ease 400ms;
    -moz-transition: all ease 400ms;
    -ms-transition: all ease 400ms;
    -o-transition: all ease 400ms;
}
}