.infoBox {
  /* width: 100%; */
  padding: 20px;
  background-color: var(--background-color);
  margin-left: 5rem;
}

.infoBox h2 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 1.2rem;
}

.infoBox .infoContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.theInfoBox {
  background-color: var(--login-Container-bg);
  box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
    var(--login-Container-shadow) 0px 2px 6px 2px;
  border-radius: 8px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.theInfoBox:hover {
  transform: translateY(-5px);
}

.infoBox .theInfoBox .iIcon {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.infoDeatils {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBox .theInfoBox .infoDeatils  .infoText {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: 600;
}

.infoBox .theInfoBox .infoDeatils  .num {
  font-size: 24px;
  font-weight: 600;
  /* color: #4b0082; */
}

@media screen and (max-width: 1186px) {
  .infoBox h2 {
    font-size: 2.3rem;
    color: var(--text-color);
    margin-bottom: 1.2rem;
  }
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 1076px) {
  .infoBox h2 {
    font-size: 2.3rem;
    color: var(--text-color);
    margin-bottom: 1.2rem;
  }
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  .infoBox .theInfoBox .infoDeatils  .infoText {
    font-size: 1.1rem;
    margin-bottom: 5px;
    font-weight: 600;
  }
}
@media screen and (max-width: 1020px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 969px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  .infoBox .theInfoBox .infoDeatils  .infoText {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
  }
}
@media screen and (max-width: 930px) {
  .infoBox {
    /* width: 100%; */
    padding: 20px;
    background-color: var(--background-color);
    margin-left: 4rem;
  }
  
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  .infoBox .theInfoBox .infoDeatils  .infoText {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
  }
}

@media screen and (max-width: 797px) {
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 746px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 678px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 598px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 576px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 537px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 420px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 366px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}
@media screen and (max-width: 320px) {
  .infoBox .infoContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .theInfoBox {
    background-color: var(--login-Container-bg);
    box-shadow: var(--login-Container-shadow) 0px 1px 2px 0px,
      var(--login-Container-shadow) 0px 2px 6px 2px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
}