@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
text-decoration: none;
  border: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --nav-bg: #fff;
  --nav-links: #0066EE;
  --nav-logo: #0066EE;
  --nav-dot: #0066EE;
  --nav-btn: #0066EE;
  --nav-btn-text: #fff;
  --nav-btn-hover: #1f79ee;

  --login-bg: #f2f2f2;
  --login-bg-container: #fff;
  --login-heading: #0066EE;
  --email-input-border: #0066EE;
  --email-input-text: #191919;
  --email-input-focus-border: #1f79ee;
  --login-btn-bg: #0066EE;
  --login-btn-text: #fff;
  --login-btn-hover-bg: #1f79ee;
  --login-link: #0066EE;
  --blue-dark: #005cd6;
  --blue-light: #4d94f3;
  --login-link-hover: #1f79ee;
}
