@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
text-decoration: none;
  border: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --nav-bg: #fff;
  --nav-links: #0066EE;
  --nav-logo: #0066EE;
  --nav-dot: #0066EE;
  --nav-btn: #0066EE;
  --nav-btn-text: #fff;
  --nav-btn-hover: #1f79ee;
}
