.changePassword {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 100%;
}

.changePassword h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.changePassForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.changePassForm label {
  font-size: 1rem;
  color: #555;
  text-align: left;
  font-weight: bold;
}

.changePassForm input {
  width: 100%;
  padding: 10px 20px;
  color: var(--login-input-text);
  background: var(--login-input-bg);
  border-radius: 50px;
  margin-bottom: 15px;
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
  -o-transition: all ease 400ms;
}

.changePassForm input:focus {
  outline: none;
  border-color: #4caf50;
}

.changeP {
  padding: 12px;
  width: 100%;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.changeP:hover {
  background-color: #45a049;
}

.changeP:active {
  background-color: #3e8e41;
}

@media (max-width: 480px) {
  .changePassword {
    padding: 15px;
    margin: 20px;
  }

  .changePassword h2 {
    font-size: 1.5rem;
  }

  .changePassForm label {
    font-size: 0.9rem;
  }

  .changePassForm input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .changeP {
    font-size: 0.9rem;
    padding: 10px;
  }
}
